.wrapper {
    max-width: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: antiquewhite; */
    margin: 0 auto;
}
a:link {
    color: chocolate;
    }
    a:visited{
        color: chocolate;
    }
.menu{
    height: 40px;
    background: black;
}
.menu h1{
    color: white;
    font-size: 14px;
    line-height: 40px;
    display: inline;
}
.menu a{
    color: white;
    font-size: 14px;
}
.slider{
    height: 500px;
    background-image: url("Pics/banner_beer.jpg");
    background-color: transparent;
}
.slider p{
    color: white;
    text-align: center;
}
.location{
    text-align: center;
}
.location iframe{
    width: 900px;
}
.gallery{
    text-align: center;
}
.grid1{
    width: 100%;
}
.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
}
.grid3 img{
    width: 100%;
    height: 100%;
    gap: 1em;
}
.beer{
    text-align: center;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.grid2 img{
    width: 100%;
}
.team{
    text-align: center;
}
.footer{
    height: 140px;
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}